@model DataModel.Model
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center margin">
    <h1>Custom Data Manager</h1>
    <div class="style  ">
        <div class="search">
            <form id="form" style="position: fixed;">
                <h2>Search</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Model.timeField.DisplayName
                    <select id="@Model.timeField.InternalName" class="form-control time-control">
                        <option disabled selected></option>
<<<<<<< HEAD
<<<<<<< HEAD
                        <option value="30m">30 minutes ago</option>
                        <option value="1h">1 hour ago</option>
                        <option value="3h">3 hours ago</option>
                        <option value="8h">8 hours ago</option>
                        <option value="12h">12 hours ago</option>
                        <option value="1d">24 hours ago</option>
=======
=======
>>>>>>> parent of d918873 (some changes)
                        <option>30 minutes ago</option>
                        <option>1 hour ago</option>
                        <option>3 hours ago</option>
                        <option>8 hours ago</option>
                        <option>12 hours ago</option>
                        <option>24 hours ago</option>
<<<<<<< HEAD
>>>>>>> parent of d918873 (some changes)
=======
>>>>>>> parent of d918873 (some changes)
                    </select>
                </div>
                @for (int i = 1; i < Model.fields.Count; i++)
                {

                    <div class="form-group">
                        <label class="control-label">@Model.fields[i].DisplayName</label>
                        <input class="form-control data-control" id="@Model.fields[i].InternalName" value="@Model.fields[i].Value" data-type="@Model.fields[i].FieldType.ToString()" />
                    </div>
                }

                <div class="form-group">
                    <input style="width:318px;" id="btnGet" type="submit" value="Search" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <button style="width:318px;" class="btn btn-success" type="reset">Clear</button>
                </div>
            </form>
        </div>
        <div class="loading"  style="position: fixed;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
            <div id="table-result" >
                <table class="tableToBeReplaced">
                </table>
            </div>
            <div class="list" id="AjaxResults">
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script>
                $(document).ready(function () {
                    $("#form").submit(function (event) {
                        event.preventDefault();
                        SearchAndDisplay();
                    });
                    SearchAndDisplay();
                });

                function SearchAndDisplay() {
                    var form_data = GetData();
                    var table = $('<table>').addClass('table-bordered tableToBeReplaced justify-content-between').css('width', '1000px').css('text-align', 'left').css('align-content', 'center');
                    $(".tableToBeReplaced").replaceWith(table);
                    $(".loading").show();
                    $.ajax({
                        type: "POST",
                        url: "/Search",
                        data: JSON.stringify(form_data),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (JsonData) {
                            $(".loading").hide();
                            if (JsonData.length == 0) {
                                var p = $('<p>').addClass("tableToBeReplaced");
                                p.append("Sorry, we didn't find any results that match these search criterias!").css('font-size', '30px').css('font-style', 'italic');
                                $(".tableToBeReplaced").replaceWith(p);
                                return;
                            }

                            var tableNames = [];
                            tableNames = Object.getOwnPropertyNames(JsonData[0]);
                            var table = $('<table>').addClass('table-bordered tableToBeReplaced justify-content-between').css('width', '1000px').css('text-align', 'left').css('align-content', 'center');
                            row = '<tr><th>' + '№' + '</th>';
                            @for (int i = 1; i < @Model.fields.Count; i++)
                            {
                                <text>
                            row += '<th>' + "@Model.fields[i].DisplayName" + '</th>';
                                </text>
                            }
                            row += '<th>' + "@Model.timeField.DisplayName" + '</th>';
                            row += "</tr>";
                            table.append(row);
                            for (i = 0; i < JsonData.length; i++) {
                                row = '<tr><td></td>';
                                for (var j = 0; j < tableNames.length; j++) {
                                    row += '<td>' + JsonData[i][tableNames[j]] + '</td>';
                                }
                                row += '</tr>'
                                table.append(row);
                            }
                            $('#table-result').append(table);
                            $(".tableToBeReplaced").replaceWith(table);
                        }
                    });
                }

                function GetData() {
                    var SearchModel = {};
                    var timeControl = $(".time-control");
                    var Time = {};
                    SearchModel.Fields = [];
                    Time["InternalName"] = timeControl.attr('id');
                    Time["Value"] = timeControl.val();
                    SearchModel.Time = Time;

                    var fields = $(".data-control")
                    $.each(fields, function (id, value) {
                        var Field = {};
                        Field["InternalName"] = value.id;
                        Field["Value"] = value.value;
                        SearchModel.Fields[id] = Field;
                    });
                    return SearchModel;
                }
                </script>
            </div>
        </div>
</div>
