@model Controllers.MultipleModels
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Custom Data Manager</h1>
    <div class="style">
        <div class="search">
            <h2>Search</h2>
            <form id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    Time
                    <select asp-for="@Model.searchModel.Time" class="form-control">
                        <option disabled selected></option>
                        <option>30 minutes ago</option>
                        <option>1 hour ago</option>
                        <option>3 hours ago</option>
                        <option>8 hours ago</option>
                        <option>12 hours ago</option>
                        <option>24 hours ago</option>
                    </select>
                </div>
                @for (int i = 1; i < Model.Model.fields.Count; i++)
                {

                    <div class="form-group">
                        <label asp-for="@Model.searchModel.Fields" class="control-label">@Model.Model.fields[i].DisplayName</label>
                        @if (Model.searchModel.IsFirstLoad)
                        {
                            <input asp-for="@Model.searchModel.Fields" class="form-control" value="" />
                        }
                        else
                        {
                            <input asp-for="@Model.searchModel.Fields" class="form-control" value="@Model.searchModel.Fields[i-1]" />
                        }
                    </div>
                }
                <div class="form-group">
                    <input style="width:318px;" id="btnGet" type="submit" value="Search" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <button style="width:318px;" class="btn btn-success" asp-action="Index">Clear</button>
                </div>
            </form>
        </div>
        <div class="list" id="AjaxResults">
            <table class="table-bordered" width="1000px">
                <tr>
                    <th>№</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Result</th>
                    <th>Operation</th>
                    <th>GUID</th>
                </tr>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td></td>
                        @foreach (var data in item)
                        {
                            <td>@data.Value</td>
                        }
                    </tr>
                }
            </table>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script>
<<<<<<< HEAD
                $(document).ready(function () {
                    $("#form").submit(function (event) {
=======
                console.log('here')
                $(document).ready(function () {
                    var form = document.getElementById('form');
                    form.addEventListener('keyup', function (event) {
>>>>>>> ecb90ad5abf86f5e1bd19ccc0539998a0e494f4e
                        event.preventDefault();
                        var form_data = $("#form").serialize();
                        console.log(form_data.type)
                        $.ajax({
<<<<<<< HEAD
                            type: "GET",
                            url: "/Search",
                            data: form_data,
                            success: function (JsonData) {
                                console.log("here")
                                var data = JSON.stringify(JsonData);
=======
                            type: 'GET',
                            url: 'Home/Search',
                            success: function (data) {
>>>>>>> ecb90ad5abf86f5e1bd19ccc0539998a0e494f4e
                                for (var i = 0; i < data.length; i++) {
                                    var oneLogData = data[i];
                                    for (var j = 0; j < oneLogData.length; j++) {
                                        oneLogData[j];
<<<<<<< HEAD
                                        $("tr").html(oneLogData[j]);
=======
                                        $('.text-center').html(oneLogData[j]);
>>>>>>> ecb90ad5abf86f5e1bd19ccc0539998a0e494f4e
                                    }
                                }
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>
