@model DataModel.Model
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Custom Data Manager</h1>
    <div class="style">
        <div class="search">
            <h2>Search</h2>
            <form id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Model.timeField.DisplayName
                    <select id="@Model.timeField.InternalName" class="form-control time-control">
                        <option disabled selected></option>
                        <option>30 minutes ago</option>
                        <option>1 hour ago</option>
                        <option>3 hours ago</option>
                        <option>8 hours ago</option>
                        <option>12 hours ago</option>
                        <option>24 hours ago</option>
                    </select>
                </div>
                @for (int i = 1; i < Model.fields.Count; i++)
                {

                    <div class="form-group">
                        <label class="control-label">@Model.fields[i].DisplayName</label>
                        <input class="form-control data-control@(i)" asp-for="@Model.fields[i].Value" value="@Model.fields[i].Value" />
                    </div>
                }

                <div class="form-group">
                    <input style="width:318px;" id="btnGet" type="submit" value="Search" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <button style="width:318px;" class="btn btn-success" asp-action="Index">Clear</button>
                </div>
            </form>
        </div>
        <div class="list" id="AjaxResults">
            <table class="table-bordered" width="1000px">
                <tr>
                    <th>№</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Result</th>
                    <th>Operation</th>
                    <th>GUID</th>
                </tr>
                @foreach (var field in Model.fields)
                {
                    <tr>
                        <td></td>
                        <td>@field.Value</td>
                    </tr>
                }
                </table>
                
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script>
                $(document).ready(function () {
                    $("#form").submit(function (event) {
                        event.preventDefault();
                        SearchAndDisplay();
                    });
                    SearchAndDisplay();
                });

                function SearchAndDisplay() {
                    console.log("here");
                    var form_data = GetData();
                    console.log(form_data);
                    $.ajax({
                        type: "POST",
                        url: "/Search",
                        data: JSON.stringify(form_data),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (JsonData) {
                            console.log(JsonData);
                            for (var i = 0; i < data.length-1; i++) {
                                var oneLogData = data[i];
                                for (var j = 0; j < oneLogData.length; j++) {
                                    oneLogData[j];
                                    $("tr").html(oneLogData[j]);
                                }
                            }
                        }
                    });
                }

                function GetData() {
                    var SearchModel = {};
                    var timeControl = $(".time-control");
                    var Time = {};
                    SearchModel.Fields = [];
                    Time["InternalName"] = timeControl.attr('id');
                    Time["Value"] = timeControl.val();
                    SearchModel.Time = Time;

                    @for (int i = 1; i < Model.fields.Count; i++)
                    {
                        <text>
                        var Field = { };
                    Field["InternalName"] = "@Model.fields[i].InternalName";
                    var dataControl = $(".data-control@(i)");
                    Field["Value"] = dataControl.val();;
                        SearchModel.Fields[@i-1] = Field;
                        </text>

                    }
                    return SearchModel;
                }
                </script>
            </div>
        </div>
    </div>
