@model DataModel.Model
@{

    ViewData["Title"] = "Home Page";
}
<div class="main-div">
    <div class="navbar-button">
        <div class="navbar-button-line navbar-button-line-first"> </div>
        <div class="navbar-button-line navbar-button-line-second"> </div>
        <div class="navbar-button-line navbar-button-line-third"> </div>
    </div>
    <div class="navbar">
        <div class="navbar-option navbar-option-view-model">View Model</div>
        <div class="navbar-option navbar-option-create-model">Create Model</div>
    </div>
    <div class="view" id="page1">
        <h1 class="model-name-header" style="">Model Name Here</h1>
        <div class="custom-body">
            <div class="search">
                <form id="form">
                    <h2>Search</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @Model.timeField.DisplayName
                        <select id="@Model.timeField.InternalName" class="form-control time-control">
                            <option disabled selected></option>
                            @for (int i = 0; i < Model.timestamps.Count; i++)
                            {
                                <option value="@Model.timestamps[i].InternalName">@Model.timestamps[i].DisplayName</option>
                            }
                        </select>
                    </div>
                    @for (int i = 0; i < Model.fields.Count; i++)
                    {
                        if (@Model.fields[i].DisplayName != "Date")
                        {
                            if (@Model.fields[i].PossibleValues.Count == 0)
                            {
                                <div class="form-group">
                                    <label class="control-label">@Model.fields[i].DisplayName</label>
                                    <input class="form-control data-control @Model.fields[i].DisplayName" id="@Model.fields[i].InternalName" value="@Model.fields[i].Value" data-type="@Model.fields[i].FieldType.ToString()" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    @Model.fields[i].DisplayName
                                    <select id="@Model.fields[i].InternalName" class="form-control data-control @Model.fields[i].DisplayName">
                                        <option disabled selected></option>
                                        @for (int j = 0; j < Model.fields[i].PossibleValues.Count; j++)
                                        {
                                            <option value="@Model.fields[i].PossibleValues[j]">@Model.fields[i].PossibleValues[j]</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                    }

                    <div class="form-group">
                        <input style="width:318px;" id="btnGet" type="submit" value="Search" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        <button style="width:318px;" class="btn btn-success" type="reset">Clear</button>
                    </div>
                </form>
            </div>
            <div class="loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="results">
                <img class="no-results messageToBeHidden" src="/css/NoResultsImage.png" style="position:absolute; top: 8%; left: 25%;" />
                <table oncontextmenu="return false;" id="table-result" class="table-bordered justify-content-between tableToBeHidden" style="text-align:left; align-content:center;">
                    <tr>
                        <th class="custom-table-heading">№</th>
                        @for (int i = 1; i < @Model.fields.Count; i++)
                        {
                            <th class="custom-table-heading">@Model.fields[i].DisplayName</th>
                        }
                        <th class="custom-table-heading">@Model.timeField.DisplayName</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="custom-context-menu-wrapper" oncontextmenu="return false;">
            <div class="contextMenu">
                <div class="contextMenuOption contextMenuOptionFillInTable">
                    <div class="context-menu-option-emoji contextMenuOptionFillInTable">🔎</div>
                    <div class="context-menu-option-name contextMenuOptionFillInTable">Use in search</div>
                    <div class="context-menu-option-shortcut contextMenuOptionFillInTable">Ctrl+🖱️</div>
                </div>
                <div class="contextMenuOption contextMenuOptionGoToTheTop">
                    <div class="context-menu-option-emoji contextMenuOptionGoToTheTop">⬆️</div>
                    <div class="context-menu-option-name contextMenuOptionGoToTheTop">Go to the top</div>
                    <div class="context-menu-option-shortcut contextMenuOptionGoToTheTop">Ctrl+⬆️</div>
                </div>
            </div>
        </div>
    </div>
    <div class="view hide" id="page2">
            <div class="create-model-view">
                <div class="model-list">
                    <div class="add-model-button">Add Model</div>
                     <div class="all-models">
                        @*list of all existing models*@
                    </div>
                </div>
                <div class="create-model-div">
                    <div class="added-columns-list">
                        @*add div with js every time user creates column*@
                    </div>
                    <div class="add-new-text-column">Add new text column</div>
                    <div class="add-new-enum-column"> Add new enum column</div>
                </div>
            </div>
    </div>
    <div class="scripts">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/data.js" asp-append-version="true"></script>
        <script src="~/js/context-menu.js" asp-append-version="true"></script>
        <script src="~/js/swap-view.js" asp-append-version="true"></script>
        <script src="~/js/navbar.js" asp-append-version="true"></script>
    </div>
</div>