@model DataModel.Model
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-div">
    <div class="view" id="page1">
        <div class="custom-body">
            <div class="search">
                <form id="form">
                    <h2>Search</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @Model.timeField.DisplayName
                        <select id="@Model.timeField.InternalName" class="form-control time-control">
                            <option selected></option>
                            @for (int i = 0; i < Model.timestamps.Count; i++)
                            {
                                <option value="@Model.timestamps[i].InternalName">@Model.timestamps[i].DisplayName</option>
                            }
                        </select>
                    </div>
                    @for (int i = 0; i < Model.fields.Count; i++)
                    {
                        if (@Model.fields[i].DisplayName != "Date")
                        {
                            if (@Model.fields[i].PossibleValues.Count == 0)
                            {
                                <div class="form-group">
                                    <label class="control-label">@Model.fields[i].DisplayName</label>
                                    <input class="form-control data-control @Model.fields[i].DisplayName" id="@Model.fields[i].InternalName" value="@Model.fields[i].Value" data-type="@Model.fields[i].FieldType.ToString()" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    @Model.fields[i].DisplayName
                                    <select id="@Model.fields[i].InternalName" class="form-control data-control @Model.fields[i].DisplayName">
                                        <option selected></option>
                                        @for (int j = 0; j < Model.fields[i].PossibleValues.Count; j++)
                                        {
                                            <option value="@Model.fields[i].PossibleValues[j]">@Model.fields[i].PossibleValues[j]</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                    }
                    <div class="form-group">
                        <input style="width:318px;" id="btnGet" type="submit" value="Search" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        <button style="width:318px;" class="btn btn-success" type="reset">Clear</button>
                    </div>
                </form>
            </div>
            <div class="loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="results">
                <img class="no-results message-to-be-hidden" src="/css/NoResultsImage.png" />
                <table oncontextmenu="return false;" id="table-result" class="justify-content-between table-to-be-hidden">
                    <tr>
                        <th class="custom-table-heading">№</th>
                        @for (int i = 1; i < @Model.fields.Count; i++)
                        {
                            <th class="custom-table-heading">@Model.fields[i].DisplayName</th>
                        }
                        <th class="custom-table-heading">@Model.timeField.DisplayName</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="custom-context-menu-wrapper" oncontextmenu="return false;">
            <div class="context-menu">
                <div class="context-menu-option context-menu-option-fill-in-table">
                    <div class="context-menu-option-emoji context-menu-option-fill-in-table">🔎</div>
                    <div class="context-menu-option-name context-menu-option-fill-in-table">Use in search</div>
                    <div class="context-menu-option-shortcut context-menu-option-fill-in-table">Ctrl+🖱️</div>
                </div>
                <div class="context-menu-option context-menu-option-go-to-the-top">
                    <div class="context-menu-option-emoji context-menu-option-go-to-the-top">⬆️</div>
                    <div class="context-menu-option-name context-menu-option-go-to-the-top">Go to the top</div>
                    <div class="context-menu-option-shortcut context-menu-option-go-to-the-top">Ctrl+⬆️</div>
                </div>
            </div>
        </div>
    </div>
    <div class="view hide" id="page2">
        <div class="create-model-view">
            <div class="model-list">
                <div class="add-model-button">+ New Model</div>
                <div class="all-models">@*All models' names are loaded here by a js script*@</div>
            </div>
            <form class="create-model-form">
                <div class="create-model-form-element-for-name-and-password">
                    <input class="new-model-name" for="new-model-name" placeholder="Name"/>
                    <input class="new-model-description" for="new-model-description" placeholder="Description"/>
                </div>
                <div class="create-model-form-element-for-custom-fields">
                    <div class="added-columns-list">
                        @*add div with js every time user creates column*@
                    </div>
                    <div class="add-new-text-column" onclick="AddTextColumn()">+ New text column</div>
                    <input onclick="CreateModelButtonOnclick();" type="submit" name="Create Model" />
                </div>
            </form>
        </div>
    </div>
</div>
